body {
  background-color: #FDFDFD;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}
h1,
h2 {
  margin-bottom: 30px;
}
h6 {
  font-weight: 600;
  font-size: 20px;
}
.ask-section a {
  color: #fff;
  background-color: #FF9100;
}
.card {
  border: none;
  border-radius: 10px;
  padding-bottom: 20px !important;
  filter: drop-shadow(0px 0px 15px #E1E1E3);
  font-size: 14px;
}
.card .img {
  border-radius: 8px;
}
.card .sale {
  color: #fff;
  background-color: #37C8AB;
  top: 25px;
  left: 25px;
}
.card .title,
.card .weight {
  color: #202020;
  font-weight: 600;
  font-size: 16px;
}
.card .weight {
  font-size: 14px;
}
.card .btn-group {
  z-index: 1;
  font-size: 0;
  display: block;
}
.card .btn-group .btn-check:checked + .btn {
  color: #202020;
  background-color: #fff;
  box-shadow: none;
}
.card .btn-group .btn {
  font-size: 14px;
  color: #8D8D8D;
  background-color: #E9ECEF;
  border: 1px solid #CED4DA;
}
.card .whish {
  width: 32px;
  height: 32px;
  top: 24px;
  right: 28px;
  z-index: 1;
}
.card .whish.active svg path {
  fill: #FF4343;
}
.card ins {
  font-size: 18px;
  color: #FF9100;
}
.card .desc,
.card del {
  color: #8D8D8D;
}
.card .cart-btn {
  z-index: 1;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  bottom: -25px;
  right: 15px;
}
.card .cart-btn-inner {
  filter: drop-shadow(0px 0px 2px rgba(255, 74, 139, 0.7));
  background-color: #FF9100;
}
.promotions-section {
  font-size: 14px;
}
.promotions-section a {
  color: #FF9100;
}
.promotions-section .swiper-slide {
  background: #fff;
  box-shadow: 0px 0px 15px #E1E1E3;
  border-radius: 20px;
  margin-bottom: 10px;
  height: unset;
}
.promotions-section .swiper-button-prev {
  left: unset;
  right: 4%;
}
.promotions-section .swiper-button-next {
  right: 0;
}
.comments-section button {
  color: #FF9100;
  font-weight: 600;
}
.comments-section .swiper-pagination {
  font-size: 24px;
}
.comments-section .swiper-button-prev {
  left: 44%;
}
.comments-section .swiper-button-next {
  right: 42%;
}
.contacts-section {
  font-size: 16px;
}
footer {
  color: #fff;
  font-size: 16px;
  background-color: #323232;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: inherit;
  opacity: 0.9;
}
footer address {
  font-size: 14px;
}
@media (min-width: 1464px) {
  .container {
    max-width: 1440px;
  }
}
a {
  text-decoration: none;
}
.stretched-link::after {
  z-index: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
