body {
  background-color: #FDFDFD;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}
h1,
h2 {
  margin-bottom: 30px;
}
h6 {
  font-weight: 600;
  font-size: 20px;
}
header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.dishes-section .nav-link {
  padding: 10px 0;
  margin-right: 20px;
  border: none;
  border-bottom: 2px solid transparent;
}
.dishes-section .nav-link:hover {
  border-color: transparent;
}
.dishes-section .nav-link.active {
  color: #FF9100;
  border-bottom-color: #FF9100;
}
.card {
  border: none;
  border-radius: 10px;
  padding-bottom: 25px !important;
  filter: drop-shadow(0px 0px 15px #E1E1E3);
  font-size: 14px;
}
.card .img-wrapper {
  position: relative;
  padding-top: 83.25%;
}
.card .img-wrapper img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card .img {
  border-radius: 8px;
}
.card .sale {
  color: #fff;
  background-color: #37C8AB;
  top: 25px;
  left: 25px;
}
.card .title,
.card .weight {
  color: #202020;
  font-weight: 600;
  font-size: 16px;
}
.card .weight {
  font-size: 14px;
}
.card .btn-group {
  z-index: 1;
  font-size: 0;
  display: block;
}
.card .btn-group .btn-check:checked + .btn {
  color: #202020;
  background-color: #fff;
  box-shadow: none;
}
.card .btn-group .btn {
  font-size: 14px;
  color: #8D8D8D;
  background-color: #E9ECEF;
  border: 1px solid #CED4DA;
}
.card .whish {
  width: 32px;
  height: 32px;
  top: 24px;
  right: 28px;
  z-index: 1;
}
.card .whish.active svg path {
  fill: #FF4343;
}
.card ins {
  font-size: 18px;
  color: #FF9100;
}
.card .desc,
.card del {
  color: #8D8D8D;
}
.card .cart-btn {
  z-index: 1;
  font-size: 16px;
  font-weight: 600;
  bottom: -25px;
  right: 15px;
  height: 50px;
  min-width: 160px;
  color: #fff;
  border: 3px solid #fff;
  filter: drop-shadow(0px 0px 2px rgba(255, 74, 139, 0.7));
  background-color: #FF9100;
}
.card .cart-btn input {
  width: 30px;
  text-align: center;
  color: #fff;
}
.card .cart-btn-inner {
  color: #fff;
  background-color: transparent;
}
.card .quantity-block {
  margin-top: -44px;
  transition: 0.3s ease 0.2s;
}
.card .quantity-block button {
  height: 40px;
  width: 40px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.ask-section a {
  color: #fff;
  background-color: #FF9100;
}
.instagram-grid div {
  margin-bottom: 10px;
  max-width: 200px;
  width: 200px;
  height: 200px;
  max-height: 200px;
}
.promotions-section {
  font-size: 14px;
}
.promotions-section a {
  color: #FF9100;
}
.promotions-section .swiper-slide {
  background: #fff;
  box-shadow: 0px 0px 15px #E1E1E3;
  border-radius: 20px;
  margin-bottom: 10px;
  height: unset;
}
.promotions-section .swiper-button-prev {
  left: unset;
  right: 4%;
}
.promotions-section .swiper-button-next {
  right: 0;
}
.comments-section button {
  color: #FF9100;
  font-weight: 600;
}
.comments-section .swiper-pagination {
  font-size: 24px;
}
.comments-section .swiper-button-prev {
  left: 44%;
}
.comments-section .swiper-button-next {
  right: 42%;
}
.contacts-section {
  font-size: 16px;
}
footer {
  color: #fff;
  font-size: 16px;
  background-color: #323232;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: inherit;
  opacity: 0.9;
}
footer address {
  font-size: 14px;
}
@media (min-width: 1464px) {
  .container {
    max-width: 1460px;
  }
}
a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  color: #FF9100;
}
.stretched-link::after {
  z-index: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #000;
  content: "\2192";
}
.breadcrumb-item {
  font-size: 14px;
  color: #000;
}
.breadcrumb-item.active {
  color: currentColor;
}
